/* .kategory {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.sale_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
} */
.katalog {
  display: flex;
  max-width: 1400px;
  margin: auto;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sidebar {
  width: 500px;
  padding-right: 50px;
}
.Recovery p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #9c9c9c;
  margin-bottom: 42px;
}

.sale_list {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-left: 100px; */
}
