/* swiper */
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px !important;
  left: 0;
  width: 100%;
}
.swiper {
  padding-bottom: 30px !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  background: white !important;
}
/* swiper */

.homeCarusel {
  background: #000000;
  padding: 30px 0;
}


.homeCarusel .container .row {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.homeCarusel .container .cards {
  background: #222222;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.homeCarusel .container .cards .card {
  display: flex;
  align-items: flex-start;
  padding: 45px 0 0 64px;
}

.homeCarusel .container .cards .card .svg {
  position: relative;
  margin-right: 20px;
}
.homeCarusel .container .cards .card .svg .svgTwo {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.homeCarusel .container .cards .card .cardText h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}
.homeCarusel .container .cards .card .cardText p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 129.2%;
  letter-spacing: 0.015em;
  color: #ffffff;
  margin: 19px 0 39px;
}
.homeCarusel .container .cards .card .cardText button {
  display: flex;
  align-items: center;
  border: none;
  background: #ffd704;
  border-radius: 8px;
  padding: 14px 23px;
}
.homeCarusel .container .cards .card .cardText button {
  background: #ffd704;

}


.homeCarusel .container .cards .card .cardText button .arrow {
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}


.homeCarusel .container .cards .img img{
  max-width: 100% !important;
  height: 100% !important;
  width: 100% !important;
}